.initial-wrapper {
  border: #5f9ad4 2px solid;
  margin-left: 190px;
  margin-right: 190px;
  height: 100%;
  margin-top: 10px;
  padding: 10px 20px;
}
.title-wrapper {
  /* margin-left: 190px; */
  /*margin-top: 15px;*/
  font-size: 25px;
  margin-right: 711px;
}

hr {
  margin: 20px 10px;
}
.main-wrapper {
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.low-wrapper {
  display: flex;
  /* margin-left: 190px; */
  margin-top: 15px;
}
.total-wrapper {
  margin-left: 630px;
  margin-top: 8px;
  font-size: 28px;
}
