.Row-wrapper {
  display: flex;
  /*justify-content: space-around;*/
  margin-top: 17px;
  justify-content: space-around;
}
.align {
  margin-left: 450px;
}

.num-wrapper {
  margin-left: 20px;
  padding: 5px;
  color: #1f50b1;
  font-size: 25px;
}

.pizza-wrapper {
  display: flex;
  justify-content: space-around;
  margin-left: 433px;
}
.iconNumber-wrapper {
  display: flex;
  justify-content: space-around;
}
.size-wrapper {
  margin-left: 50px;
}
